<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
	   		http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Cấu hình interceptor -->
	<mvc:interceptors>
		<!-- Lọc tất cả các URL -->
		<!-- <bean class="poly.interceptor.LoggerInterceptor" /> -->

		<!-- Chỉ lọc các URL theo path -->
		<mvc:interceptor>
			<mvc:mapping path="/quanly/**" />
			<bean class="ptit.interceptor.QuanLyInterceptor" />
		</mvc:interceptor>

		<mvc:interceptor>
			<mvc:mapping path="/dangnhap.html" />
			<mvc:mapping path="/dangki.html" />
			<mvc:mapping path="/quenmatkhau.html"/>

			<bean class="ptit.interceptor.DangNhapInterceptor" />
		</mvc:interceptor>

		<bean class="ptit.interceptor.DoiMatKhauInterceptor" />

		<mvc:interceptor>
		
			<mvc:mapping path="/chonghe.html" />
			<mvc:mapping path="/thongtincanhan.html" />
			<mvc:mapping path="/phieudat/**" />
			<mvc:mapping path="/phieudat.html" />
			<mvc:mapping path="/dienthongtin.html" />
			<mvc:mapping path="/hoadon.html" />
			<mvc:mapping path="/thanhtoan.html" />
			<mvc:mapping path="/matkhau.html" />
			<bean class="ptit.interceptor.KhachHangInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

</beans>